*{
	margin: 0;
	padding: 0;
	font-family: "Proxima Nova", proxima-nova, sans-serif;
}

html{
	scroll-behavior: smooth;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/1.jpg);
	background-color: #b3b3b3;
	height: 100vh;
	background-size: cover;
	background-position: center;
/*	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
*/	background-attachment: fixed;
	background-repeat: no-repeat;

}

ul{
	float: left;
	list-style-type: none;
	margin-top: 25px;
	margin-left: 10px;


}

ul li{
	display: inline-block;



}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
	font-size: 20px;
	

}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title h1{
	color: #fff;
	font-size: 70px;
}

.aboutMe{
	position: relative;

}

.aboutMe p{
	text-decoration: none;
	color: #000;
/*	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
*/	background-color: #fff;
	background-size: 20px;
	font-size: 20px;
	word-wrap: break-word;
	width: 70%;
	float: right;
}

.aboutMe dt{
	text-decoration: none;
	color: #000;
/*	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
*/	background-color: #fff;
	background-size: 20px;
	font-size: 40px;
	word-wrap: break-word;
	width: 70%;
	float: right;
	margin: 10px 10px 10px 10px;
}

.aboutMe dd{
	font-size: 35px;

}

.aboutMe h1, h2{
	position: relative;
	text-align: center;
	padding: 125px 0px 50px 0px;
	font-size: 70px;

}

.aboutMe h2{font-size: 50px;}

.projects h1{
	position: relative;
	text-align: center;
	padding: 125px 0px 0px 0px;
	font-size: 70px;
}

.topHeader {
	border-bottom: 15px solid #000;
	background-color: #000;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.photo {
	width: 25%;
	margin-left: 20px;
	float: left;

}

.parallax {
	margin-top: 700px;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/projectsP.jpg);
	height: 600px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}